
project_id = "cieczaajcgkgdgenfdzi"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://lovable.dev"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
refresh_token_reuse_interval = 10
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[db]
enabled = true
port = 54322
shadow_port = 54320
major_version = 15

[functions.send-newsletter-email]
verify_jwt = false

[functions.send-contact-email]
verify_jwt = false

[functions.send-investor-email]
verify_jwt = false

[functions.request-investment-deck]
verify_jwt = false

[functions.download-investment-deck]
verify_jwt = false

[functions.unsubscribe-newsletter]
verify_jwt = false

[functions.download-product]
verify_jwt = false

[functions.send-confirmation-email]
verify_jwt = false

[realtime]
enabled = true
port = 54323
ip_version = "ipv4"

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[inbucket]
enabled = true
port = 54324
